
/node_modules
/.expo
/.expo-shared
/.expo-settings.json
.env

/npm-debug.log*
/yarn-error.log*
/yarn.lock
/package-lock.json

/ios/Pods
/ios/build
/ios/Podfile.lock
/ios/Podfile.backup
/ios/*.xcworkspace
/ios/*.xccheckout
/ios/*.xcodeproj/xcuserdata
/ios/*.xcodeproj/project.xcworkspace/xcuserdata
/ios/*.xcodeproj/xcshareddata
/ios/*.xcproj
/ios/MyAppTests/Info.plist
/ios/MyAppUITests/Info.plist

/android/.gradle
/android/.idea
/android/build
/android/app/build
/android/local.properties

/*.apk
/*.aab
/*.app
/*.ipa
/*.iml
/.expo
.DS_Store

/tsconfig.json
/tsconfig.tsbuildinfo

.env.local
.env.development.local
.env.test.local
.env.production.local

/.vscode

/coverage
/flow-coverage
/.nyc_output
/jest-stare
